---
import type { HeroProps } from "@types";
import LinkedIn from "@icons/LinkedIn.astro";
import GitHub from "@icons/GitHub.astro";
import Email from "@icons/Email.astro";
type Props = HeroProps;

const { name, specialty, summary, email, linkedin, github } = Astro.props;
---

<section class="py-24 md:py-32" id="#hero">
  <h1
    class="mb-1.5 font-serif text-7xl font-bold tracking-tightest text-white sm:text-8xl md:mb-0 md:text-9xl"
  >
    {name}
  </h1>
  <p
    class="mb-9 font-serif text-4xl leading-[46px] font-bold tracking-tighter text-primary sm:text-5xl md:text-6xl"
  >
    {specialty}
  </p>
  <p class="mb-16 text-base font-normal text-neutral md:text-lg">
    {summary}
  </p>

  <h3 class="mb-1.5 font-serif text-2xl font-semibold text-white">
          Let's Connect!
  </h3>
  <div class="flex space-x-6 items-center my-3">
  <a href={github} target="_blank" class="text-gray-400 hover:text-white">
    <GitHub class="w-8 h-8" />
  </a>
  <a href={linkedin} target="_blank" class="text-gray-400 hover:text-white">
    <LinkedIn class="w-8 h-8" />
  </a>
  <a href={`mailto:${email}`} target="_blank" class="text-gray-400 hover:text-white">
    <Email class="w-8 h-8 scale-120 translate-y-1"/>
  </a>
</div>

</section>
